@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: #737B80;
}

/* ------------Header--------------- */

.Nav {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #33332E;
}

.Nav > .Options {
  display: flex;
}

.Options > a {
  text-decoration: none;
  color: #fff;
  padding: 0 0.5rem;
}

/* ------------------------------ */

/* ------------Main--------------- */
.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Main > .Video > video {
  margin-top: 3.6rem;
  width: 100%;
}

.Section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.Sell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.BoxTitle {
  width: 100%;
  margin-left: 1rem;
}

.textVideo {
  padding: 1rem;
  text-align: start;
  color: #333333;
}

.textVideo > h1 {
  font-size: 30px;
}

.textVideo > p {
  font-size: 20px;
}

.BoxCard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  align-self: center;
  justify-content: space-evenly;
  width: 100%;
}

.Cards {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #737B80;
  
  margin: 2rem 2.5rem ;
  border-radius: 2%;
  box-shadow:10px 5px 20px#333333;
}

.imgCard > img{
  width: 100%;
  height: 100%;
}

.textCard {
  padding: 1rem;
}

.textCard > .Title {
  margin: 1rem 0;
  font-size: 26px;
}

.textCard > .Price {
  font-size: 18px;
}

.textCard:hover {
  transition: 0.5s, ease-out 0.2s;
  color: #fff;
}

/* ----------------------------- */

/* ------------Footer--------------- */

.Footer{
  margin-top: 5rem;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Footer > .ProBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProBox > p {
  font-size: 14px;
}

.ProBox > img {
  width: 24px;
  height: 24px;
}

/* ------------------------------ */

/* ----------Media------------ */
@media (max-width: 900px){
  .BoxCard{
    grid-template-columns: 1fr 1fr ;
  }
}

@media (max-width: 500px){
  .BoxCard{
    grid-template-columns: 1fr ;
  }
}
/* ----------------------------- */